:root {
  --background-color: #fff;
  --background-light: #e8e8e8;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: #0066ff;
  --text-color: #151515;
  --text-light: #575757;
  --font-size: 16px;
}
